src/wsdl/localhost_8080/BumBankXML/requestLoan.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bumbankxml.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bumbankxml.mycompany.com/" name="requestLoan">
<types>
<xsd:schema>
<xsd:import namespace="http://bumbankxml.mycompany.com/" schemaLocation="http://localhost:8080/BumBankXML/requestLoan?xsd=1"/>
</xsd:schema>
</types>
<message name="request">
<part name="parameters" element="tns:request"/>
</message>
<message name="requestResponse">
<part name="parameters" element="tns:requestResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="send">
<part name="parameters" element="tns:send"/>
</message>
<message name="sendResponse">
<part name="parameters" element="tns:sendResponse"/>
</message>
<portType name="BumBankXML">
<operation name="request">
<input wsam:Action="http://bumbankxml.mycompany.com/BumBankXML/requestRequest" message="tns:request"/>
<output wsam:Action="http://bumbankxml.mycompany.com/BumBankXML/requestResponse" message="tns:requestResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://bumbankxml.mycompany.com/BumBankXML/request/Fault/IOException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://bumbankxml.mycompany.com/BumBankXML/request/Fault/JAXBException"/>
</operation>
<operation name="send">
<input wsam:Action="http://bumbankxml.mycompany.com/BumBankXML/sendRequest" message="tns:send"/>
<output wsam:Action="http://bumbankxml.mycompany.com/BumBankXML/sendResponse" message="tns:sendResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://bumbankxml.mycompany.com/BumBankXML/send/Fault/IOException"/>
</operation>
</portType>
<binding name="BumBankXMLPortBinding" type="tns:BumBankXML">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="request">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="send">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="requestLoan">
<port name="BumBankXMLPort" binding="tns:BumBankXMLPortBinding">
<soap:address location="http://localhost:8080/BumBankXML/requestLoan"/>
</port>
</service>
</definitions>